<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

{{!-- 2.4  Add the link that goes to /drones route in the layout.hbs file 
to easier navigate to the list of drones. --}}
  <body>

    <nav>
      <a href = "/drones">All Our Marvelous Drones</a> 
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>

